* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    border-radius: 15px;
    padding: 20px;
    width: 350px;
}

.my-balance-card {
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.my-balance-card h1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

.my-balance-card p {
    font-size: 24px;
    font-weight: 700;
}

.graph-card {
    background-color: hsl(33, 100%, 98%);
    margin-bottom: 20px;
}

.graph-card h2 {
    color: hsl(25, 47%, 15%);
    margin: 10px 0 50px;
}

.graph-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom:  1px solid hsla(28, 10%, 53%, 0.253);
}

.day-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detailed-total {
    background-color: hsl(25, 47%, 15%);
    border-radius: 5px;
    color: hsl(33, 100%, 98%);
    font-size: 8px;
    visibility: hidden;
    margin-bottom: 10px;
    padding: 5px;
    width: 30px;
}

.bar {
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
    width: 30px;
    height: 150px;
    margin-bottom: 10px;
}

.day-title {
    color: hsl(28, 10%, 53%);
    font-size: 12px;
}

.monthly-stats {
    
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    color: hsl(28, 10%, 53%);
    font-size: 16px;
}

.this-month-stats .label {
    margin-bottom: 5px;
}

.this-month-stats h3 {
    color: hsl(25, 47%, 15%);
    font-size: 32px;

}

.comparison-stats {
    color: hsl(25, 47%, 15%);
    text-align: right;
    align-self: end;
}

#active{
    visibility: visible;
}


#today {
    background-color: hsl(186, 34%, 60%);
    height: 20px;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px){
    section {
        width: 500px;
    }

    .detailed-total {
        font-size: 16px;
        width: 50px;
    }

    .bar {
        width: 50px;
    }

}